{% extends "Forum/layouts/nonsidebar_layout.html" %}

{% block title %}
Sign In
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
    <h1> Sign into an account </h1>

    <!-- all of this is front end styling -->
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text", name="username", placeholder="Type your username...">
        <b>OR</b>
        <input type="text", name="first_name", placeholder="Type your first name...">
        <input type="text", name="last_name", placeholder="Type your last name...">

        <br>
        <input type="password", name="password", placeholder="Type your password...">

        {{ message }}
        <input type="submit">
    </form>

    <br>
{% endblock %}