{% extends "Forum/layouts/nonsidebar_layout.html" %}

{% block title %}
Sign In
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
    

    <!-- all of this is front end styling -->
    <div class="mx-auto" style="width: 50%;" align="center">
        <h1> Sign into an account </h1>
        <p>Sign in to your account using either your first and last name or your username.</p>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text">Username</span>
            <input class="form-control" type="text" name="username" placeholder="Type your username..."><br>
        </div>
        <b>OR</b>
        <div class="input-group mb-3">
            <span class="input-group-text">First Name</span>
            <input class="form-control" type="text" name="first_name" placeholder="Type your first name...">
            <span class="input-group-text">Last Name</span>
            <input class="form-control" type="text" name="last_name" placeholder="Type your last name...">
        </div>
        <b>THEN:</b>
        <div class="input-group mb-3">
        <input class="form-control" type="password" name="password" placeholder="Type your password...">

        {{ message }}
        <input class="btn btn-success" type="submit" value="Log in">
        </div>
    </form>
    </div>

    <br>
{% endblock %}