git {% extends "Forum/layouts/sidebar_layout.html" %}
{% load static %}

{% block title %}
Confirm Delete
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}

    <!-- Uses Django's delete view class to delete the bid for this person-->
    <div class="mx-auto" style="width: 50%;" align="center">

            <img src="{% static 'Forum/media/util/delete.png' %}" class="img-fluid" alt="Home">
            <hr>

        <form method="post">
            {% csrf_token %}
            {{ form }}

            <p class="h1">
                Are you sure you want to remove this?
            </p>

            <p class="text-center">
                {{ message }}
            </p>
            

            <input class="btn btn-danger" type="submit" value="Yes, I'm sure">
        </form>
        <button class="btn btn-outline-danger" onclick="history.back()">No, go back</button>
    </div>

{% endblock %}
