{% extends "Forum/layouts/sidebar_layout.html" %}
{% load static %}

{% block title %}
Confirm Delete
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}

    <!-- Uses Django's delete view class to delete the bid for this person-->
    <form method="post">
        {% csrf_token %}
        {{ form }}

        <p>
            Are you sure you want to leave {{ object.event.post.title }} at {{ object.event.date }}, {{object.event.time }}?
            It will no longer appear in this feed.
        </p>

        <input type="submit" value="Yes, I'm sure">
    </form>

{% endblock %}
