{% extends "Forum/layouts/sidebar_layout.html" %}

{% block title %}
Hello
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
    <!-- Displaying information from each of the orgs the user has pinned -->
    {%  for org in organization_list %}

        <h1> {{ org.name}} </h1>
        
        <a href="{% url 'organization_view' pk=org.pk %}"><img src="{{ org.logo.url }}" alt="{{ org.name }}'s Logo"></a>


        <hr>

    {% empty %}
        Looks like you haven't pinned any organizations yet
    {% endfor %}
    
{% endblock %}
