{% extends "Forum/layouts/sidebar_layout.html" %}
{% load static %}

{% block title %}
Pinned
{% endblock %}

{% block script %}
    <script src = "{% static 'Forum/script/pinned.js' %}"></script>
{% endblock %}

{% block body %}

    <!-- the hidden CSRF Token validates the requests a user makes when they unpin organizations -->
    {% csrf_token %}

    <!-- Displaying information from each of the orgs the user has pinned -->
    {%  for org in organization_list %}

        <!-- the div for each organization entry -->
        <div id="organization-{{ org.pk }}-div" class="card mb-3">
            <div class="row g-0 align-items-center">
                <div class="col-md-2">
                    <!-- the logo of the URL in an <a> tag so clicking it takes you to their detail page -->
                    <a href="{% url 'organization_view' pk=org.pk %}"><img class="img-fluid rounded-start" src="{{ org.logo.url }}" alt="{{ org.name }}'s Logo"></a>
                </div>
                <div class="col-md-8" style="padding:80px">
                    <!-- The name of the organization is a link which filters all posts so it only shows theirs (aka the feed page) -->
                    <a href="{% url 'posts_by_org' org_pk=org.pk %}"><h1> {{ org.name}} </h1></a>  
                    </div>
                <div class="col">
                <!-- the button you click to unpin the organization-->
                    <button type="button" class="btn btn-danger align-middle" id="unpin-org-{{org.pk}}" onclick = unpin("{{ org.pk }}")><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-angle-fill" viewBox="0 0 16 16">
                    <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146z"/>
                    </svg> Unpin</button>
                </div>
            </div>
    
        </div>

    {% empty %}

        <!-- the message displayed when you haven't pinned any organizations yet. You can add an image here if you'd like -->
        <div class="mx-auto" style="width: 50%;" align="center">
            <img src="{% static 'Forum/media/util/empty.png' %}" class="img-fluid" alt="Home">
            <hr>
            <h2>Looks like you haven't pinned any organizations yet.</h2>
        </div>
    {% endfor %}
    
{% endblock %}
