{% extends "Forum/layouts/sidebar_layout.html" %}

{% block title %}
Post Dashboard
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}

    

    <!-- Displaying each post from the post_list -->

    {% for post in post_list %}

        <h1><a href="{% url 'detail_view' pk=post.pk %}">{{ post.title }}</a></h1>

        <a class="btn btn-primary" href="{% url 'delete_post' pk=post.pk %}"> Delete </a>
        <a class="btn btn-primary" href="{% url 'change_post' pk=post.pk %}"> Edit title or body </a>
        <a class="btn btn-primary" href="{% url 'manage_imgs' post_pk=post.pk %}"> Manage Related Images </a>

        <!-- if this is a post adding new events will make it a project -->
        <a class="btn btn-primary" href="{% url 'manage_events' post_pk=post.pk %}"> 
            {% if post.is_project %}
                Manage Project dates
            {% else %}
                Add dates and make project
            {% endif %}
        </a>

        <div>
            {% if post.is_project %}

            <form method="post">
                {% csrf_token %}
                {{ post.get_volunteer_search_form }}

                <input type="hidden" name="post_id" value="{{post.pk}}">

                <!-- the user can either send a message to a group or see the list of people in it -->
                <input type="submit" formaction="{% url 'manage_volunteers' action='list'  %}" value="search">
                <input type="submit" formaction="{% url 'manage_volunteers' action='message'  %}" value="Send Message">

            </form>

            {% endif %}
        </div>


        <hr>

    <!-- If it's empty the user hasn't volunteered for anything yet -->
    {% empty %}

        <p> Looks like {{ post.organization.name }} has no posts. </p>

    {% endfor %}
{% endblock %}
