{% extends "Forum/layouts/sidebar_layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Post Dashboard
{% endblock %}

{% block script %}
<script src = "{% static 'Forum/script/org_posts.js' %}"></script>
{% endblock %}

{% block body %}

    

    <!-- Displaying each post from the post_list -->
    
    {% for post in post_list %}
    <div class="bar-in rounded structure border mb-3 p-3">


        <h1><a class="link-dark" href="{% url 'detail_view' pk=post.pk %}">{{ post.title }}</a></h1>

        <a class="btn btn-danger" href="{% url 'delete_post' pk=post.pk %}"> Delete </a>
        <a class="btn btn-outline-secondary" href="{% url 'change_post' pk=post.pk %}"> Edit title or body </a>
        <a class="btn btn-outline-secondary" href="{% url 'manage_imgs' post_pk=post.pk %}"> Manage Related Images </a>

        <!-- if this is a post adding new events will make it a project -->
        <a class="btn btn-outline-secondary" href="{% url 'manage_events' post_pk=post.pk %}"> 
            {% if post.is_project %}
                Manage Project dates
            {% else %}
                Add dates and make project
            {% endif %}
        </a>

        {% if post.is_project %}
        <button type="button" class="btn btn-outline-secondary" onclick="toggle_form(this, {{post.pk}})" value="Hidden">Manage Volunteers</button>
        <div id="post-{{post.pk}}-form-div" style="display:none">

            <br>
     
            <form method="post" class="form-control mb-3">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{post.pk}}">
                <!-- the user can either send a message to a group or see the list of people in it -->

                <!-- because i can't put the submit buttons in line with the form I used the generic row/column approach-->
                <div class="row g-0 align-items-center">

                    <div class="col">
                        {% crispy post.get_volunteer_search_form post.get_volunteer_search_form.helper %}

                    </div>

                    <!-- center this and style it so it doesn't look so weird -->
                    <div class="col">
                        <input class="btn btn-secondary" type="submit" formaction="{% url 'manage_volunteers' action='list'  %}" value="Search">
                        <input class="btn btn-secondary" type="submit" formaction="{% url 'manage_volunteers' action='message'  %}" value="Send Message">

                    </div>

                </div>
        
            </form>

        
        </div>
        {% endif %}
        


    

    </div>
    <!-- If it's empty the user hasn't volunteered for anything yet -->
    {% empty %}

    <div class="mx-auto" style="width: 50%;" align="center">
        <img src="{% static 'Forum/media/util/empty.png' %}" class="img-fluid" alt="Home">
        <hr>
        <h2>Looks like there are no posts yet.</h2>
    </div>

    {% endfor %}
{% endblock %}
