{% extends "Forum/layouts/sidebar_layout.html" %}

{% block title %}
Your Volunteered Projects
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}

    <!-- Displaying each bid from the bid_list -->

    {% for bid in bid_list %}

    <div class="card">

        <div class="card-header">
            <h1><a href="{% url 'detail_view' pk=bid.event.post.pk %}">{{ bid.event.post.title }}</a></h1>
        </div>

        <div class="card-body">

            <!-- *Get status display is used to get the human readable name from the status choice field -->
            <b>Status:</b> {{ bid.get_status_display }} <br>
            {{ bid.event.datetime }} from {{ bid.event.post.organization }}

            <!-- button to delete this item (sends user to a confirmation page )-->
            <a class="btn" href="{% url 'delete_bid' pk=bid.pk %}"> <button type="button" class="btn-close" aria-label="Close"></button></a>

        

            

        </div>

        
    </div>

    <!-- If it's empty the user hasn't volunteered for anything yet -->
    {% empty %}
        <div class="container">

            <p class="text-center"> Looks like you haven't volunteered for any projects </p>

        </div>

    {% endfor %}
{% endblock %}
