{% extends "Forum/layouts/sidebar_layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block script %}
    <script src = "{% static 'Forum/script/mng_post_imgs.js' %}"></script>
{% endblock %}

{% block body %}


    <!-- A form to create a new image -->

    <div>
        <form class="form-control mb-3" action="{% url 'change_imgs' post_pk=post_pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ image_form|crispy }}

            <br>
            <input class="btn btn-primary" type="submit" value="add image">

        </form>
    </div>

    <br>


    <!-- a list view for all the images currently associated with the project-->

    <div>

        <!--Maintaining the post ID as an input for the PUT request (technically uneccessary
            but maintaining the overall view structure makes most sense) -->
        
            <input type="hidden" id="post-id-input" value={{ post_pk }}>

        <div class="row row-cols-1 row-cols-md-2 g-4">
        
            {% for image in postimage_list %}

        

            <!-- div for the image entry -->
            <div id="img-{{image.id}}-div">
            <div class="col">
                <div class="card" style="width: 20rem;">

                    <!-- (needs to be styled so that the image sizes are uniform) -->
                    <img src="{{ image.image.url }}" class="img-thumbnail" width="300px" alt="{{ image.image }}">

                    <!-- the image's name. Consider putting in a heading tag-->
                    <h3 class="card-title">{{ image.name }}</h3>

                    <!-- button to toggle image status. Only change class of this -->
                    {% if image.is_icon %}

                        <button type="button" class="btn btn-primary" id="toggle-img-{{image.pk}}-isicon" onclick="toggle_icon(this, {{ image.pk }})" value="true">This image is an icon. Click to remove icon status</button>

                    {% else %}

                        <button type="button" class="btn btn-primary"  id="toggle-img-{{image.pk}}-isicon" onclick="toggle_icon(this, {{ image.pk }})" value="false">Make this image an icon</button>

                    {% endif %}

                    <!-- button to delete the image -->
                    <button type="button" class="btn btn-danger" id="delete-img-{{image.pk}}-btn" onclick="delete_image({{image.pk}})">Delete Image</button>
                </div>

            </div>
            </div>
        </div>

        <hr>

        {% empty %}
            This post currently has no images

        {% endfor %}

    </div>


{% endblock %}