{% extends "Forum/layouts/sidebar_layout.html" %}
{% load static %}

{% block title %}
Participants
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}

    <!-- For each participant render their name with a hyperlink to their profile -->
    <form method="post" action="{% url 'change_status' %}">
        {% csrf_token %}

        <!-- only display a submit button if the list has any values -->
        {% if bid_list %}
            <!-- button to copy the emails of the participants in this list -->
            <button type="button" id="copy-emails-button" onclick = "copy_text(this, '{{ mail_list }}')">Copy Emails for this List</button>
            <input type="submit" value="Save Changes">

            <input type="hidden" value="{{ bid_ids }}" name="bid_ids">
        {% endif %}


        {% for bid in bid_list %}

        <div id="bid-{{ bid.pk }}-div">
            <h1>{{ bid.bidder.first_name }} {{ bid.bidder.last_name }}</h1>
            <a href="{% url 'profile_view' pk=bid.bidder.pk %}" target="_blank" rel="noopener noreferrer">{{ bid.bidder.username}}</a> <br>

            {{ bid.get_status_form }}

        </div>

        <hr>

        <!-- if there are no bids on this event -->
        {% empty %}
            <p>There are no participants matching your query</p>

        {% endfor %}

    </form>
{% endblock %}
