{% extends "Forum/layouts/sidebar_layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Create Post
{% endblock %}

{% block script %}
    <script src = "{% static 'Forum/script/create_post.js' %}"></script>
{% endblock %}

{% block body %}
    <h1> Create a Post </h1>
    <form action="{% url 'create_post' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ post_form|crispy}}
        
        <input type="hidden" id="resubmit_project" value="{{ is_project }}">
        <hr>

        <div id="image-container">

            <b> Image Upload </b>

            {{ image_formset.management_form }}

            <div class="image-form">
                
                {% for image_form in image_formset %}

                    <div class="row">
                        <div class="col-9">
                            {{ image_form|crispy }}

                        </div>

                        <div class="col">
                            <br>
                            <button class = "btn btn-danger" id="image-{{ forloop.counter0 }}-rm"> Remove this image </button>
                        </div>
                    </div>
               
                {% endfor %}

            </div>
            <br>
            <button id="add_new_image_btn" class = "btn btn-success"> Add Another Image Field </button>

        </div>
        

        <hr>
        {{ event_formset.non_form_errors }}
        <div id="event-container">

            <b> Add Project events </b>

            {{ event_formset.management_form }}           

            <div class="event-form">

                {% for event_form in event_formset %}

                    <div class="row">
                        <div class="col-9">
                            {% crispy event_form %}

                        </div>

                        <div class="col">
                            <br>
                            <button class="btn btn-danger" id="event-{{ forloop.counter0 }}-rm"> Remove this event </button>
                        </div>
                    </div>
                                        
                    
                {% endfor %}
            </div>
            <br>
            <button class="btn btn-success" id="add_new_event_btn"> Add Another event </button>

        </div>       
        <br>
        <button class="btn btn-primary" type="submit"> Create Post </button>
    </form>

    <br>

    {% if message %}
        {{ message }}
    {% endif %}

{% endblock %}