{% extends "Forum/layouts/sidebar_layout.html" %}
{% load static %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block script %}
    <script src = "{% static 'Forum/script/view_post.js' %}"></script>
{% endblock %}

{% block body %}

<div class="bar-in rounded structure border mb-3 p-3">
    <!-- title of the post -->
    <h1>{{ post.title }}</h1>

    <!-- information about the post -->
    Written on {{ post.timestamp }} by {{ post.author }} from <a href="{% url 'organization_view' pk=post.organization.pk %}">{{ post.organization }}</a>

    {% if post.related_images.all %}
    <div class="mx-auto" style="width: 50%;" align="center">
        <div id="image-carousel" class="carousel slide">
            <div class="carousel-inner">

                <!-- for each image of the post -->
                {% for image in post.related_images.all %}
                    <!-- display the image -->
                    <div class="carousel-item active">
                        <img src="{{ image.image.url }}" class="d-block w-10 " alt="{{ image.image }}">
                    </div>
                {% empty %}
                    No images were found

                {% endfor %}
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#image-carousel" data-bs-slide="prev" data-bs-theme="light">
                <span class="carousel-control-prev-icon" aria-hidden="true" style="filter: invert(50%)"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#image-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true" style="filter: invert(50%)"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    {% endif %}

<!-- main content of the post -->
{{ post.body }}

<!-- sees if the user is logged in to prevent form inputs -->
<input type="hidden" id="user-logged-in" value="{{user.is_authenticated}}">
</div>

{% if post.is_project %}

    <div class="bar-in rounded structure border mb-3 p-3">

    <!-- form to input volunteer choices (needs styling but don't do anything but change classes and add other elements)-->
    <form action="{% url 'change_bids' %}" method="post" name="volunteer_form">

        {% csrf_token %}
        <input type="hidden" name="post-event-ids" value="{{ post_event_ids }}">

        {% for event in post.project_times.all %}
        <div class="input-group mb-3">

            <label class="input-group-text">{{ event.datetime }}</label>
        
            {% if event.open %}

                <input type="hidden" name="target-event" id="event-{{event.pk}}-id" value="{{ event.pk }}">
        
                {% if event in chosen_events %}

                    <input type="hidden" name="event-{{event.pk}}-status" id="event-{{event.pk}}-status" value="volunteered">
                    <button type="button" class="btn btn-outline-secondary" id="event-{{event.pk}}-btn" onclick="toggle_volunteer(this,{{event.pk}})">You volunteered for this event. Click to leave.</button>                    
        
                {% else %}

                    <input type="hidden" name="event-{{event.pk}}-status" id="event-{{event.pk}}-status" value="not_volunteered">
                    <button type="button" class="btn btn-outline-secondary" id="event-{{event.pk}}-btn" onclick="toggle_volunteer(this,{{event.pk}})">Volunteer for this event.</button>  

                {% endif %} 
        
            {% else %}
            <button type="button" class="btn btn-outline-secondary" disabled>This event is closed</button>
                
            {% endif %}  
            <br>
        </div>
        {% empty %}
            (No dates)
        {% endfor %}

        {% if post.project_times.all %}
            <button class="btn btn-outline-success" type="submit">Confirm Choices</button>
        {% endif %}

    </form>

</div>



{% endif %}


{% endblock %}