{% extends "Forum/layouts/sidebar_layout.html" %}
{% load static %}

{% block title %}
{{ organization.name }}
{% endblock %}

{% block script %}
<script src = "{% static 'Forum/script/org_details.js' %}"</script>
{% endblock %}

{% block body %}
    <h1>{{ organization.name }}</h1>

    <a href="{% url 'posts_by_org' org_pk=organization.pk %}">View posts by this organization</a>

    <!-- if the organization has an official email you can copy it here -->
    {% if organization.official_email %}
        <input type="button" value="Copy Email" id="copy-email-btn">
        <input type="hidden" value="{{ organization.official_email }}" id="organization-email">
    {% endif %}

    {% if organization.logo %}
        <img src="{{ organization.logo.url }}" alt="{{ org.name }}'s Logo">
    {% endif %}

    <hr>

    <p>{{ organization.about }}</p>

    <hr>

    <h2>Members: </h1>

    <ul>
        {% for member in organization.members.all %}

        <li>{{ member.first_name }} {{ member.last_name }}</li>

        {% empty %}

            <p> There are no members of this organization </p>

        {% endfor %}
        
    </ul>

    
    

{% endblock %}