{% extends "Forum/layouts/sidebar_layout.html" %}
{% load static %}

{% block title %}
{{ profile.username }}
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}

    <!-- name of the person -->
    <h1>{{ profile.get_full_name }}</h1>

    <!-- birthday of the person -->
    Born on {{ profile.birthday }} 

    <!-- organization the member is a part of if they have one -->
    {% if profile.membership %}
        Member of <a href="{% url 'organization_view' pk=profile.membership.pk %}">{{ profile.membership.name }}</a>

    {% endif %}

    <!-- button used to copy email of profile only change the class of this -->
    <button type="button" onclick="copy_text(this, '{{ profile.email }}')">Copy Email</button>
    
    <!-- biography of the person -->
    {{ profile.biography }}

    <!-- list of organization the user has pinned -->
    <h2>Pinned Organizations: </h2>
    
    {% for org in profile.pinned.all %}

        <!-- the organization name wrapped in a hyperlink to the organization's details -->
        <a href="{% url 'organization_view' pk=org.pk %}">{{ org.name }}  </a>        
    <br>

    {% empty %}
        (This user has no pinned organizations)
    {% endfor %}

{% endblock %}