{% extends "Forum/layouts/sidebar_layout.html" %}
{% load static %}

{% block title %}
{{ profile.username }}
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}

    <!-- name of the person -->
    <div class="bar-in rounded border mb-3 p-3 align-items-center">
        <div class="row g-0 align-items-center">

            <div class="col-md-10">
                <h1>{{ profile.get_full_name }}</h1>
                <!-- birthday of the person -->
                <div class="d-inline">Born on {{ profile.birthday }}.</div>

                <!-- organization the member is a part of if they have one -->
                {% if profile.membership %}
                    <div class="d-inline">Member of <a href="{% url 'organization_view' pk=profile.membership.pk %}">{{ profile.membership.name }}</a></div>
                {% endif %}

            </div>

            <div class="col">
                <!-- button used to copy email of profile only change the class of this -->
                <button class="btn btn-outline-secondary" type="button" onclick="copy_text(this, '{{ profile.email }}')">Copy Email</button>

            </div>
        </div>
    </div>

    <div class="bar-in rounded border mb-3 p-3 align-items-center">
        <!-- biography of the person -->
        <h2>Biography: </h2>
        {{ profile.biography }}

    </div>

    <div class="bar-in rounded border mb-3 p-3 align-items-center">
        
        <!-- list of organization the user has pinned -->
        <h2>Pinned Organizations: </h2>
        
        {% for org in profile.pinned.all %}

            <!-- the organization name wrapped in a hyperlink to the organization's details -->
            <div class="d-inline"><a class="btn btn-outline-success" href="{% url 'organization_view' pk=org.pk %}">{{ org.name }}  </a>    </div>

        {% empty %}
            <p>(This user has no pinned organizations)</p>
        {% endfor %}

    </div>

{% endblock %}