{% extends "Forum/layouts/sidebar_layout.html" %}
{% load static %}

{% block title %}
Received Messages
{% endblock %}

{% block script %}
    
{% endblock %}

{% block body %}
    <h1>Received Messages</h1>

    <!-- for every sent message display the message sender and content -->
    {% for message in message_list %}

        <div id="organization-{{ org.pk }}-div" class="card mb-3">

            <div class="card-header">
                Sent by: {{ message.sender.get_full_name }} ({{ message.sender.username }})
                Of organization {{ message.sender.membership }}
                 at {{ message.timestamp }}
                For {{ message.event.post.title }} (Event at: {{ message.event.datetime }})

            </div>

            <div class="row g-0 align-items-center">

                <div class="col-md-2">

                    <div class="d-grid">
                        <button class="btn btn-outline-secondary" type="button" onclick="copy_text(this,'{{ message.sender.email}}')">Copy {{ message.sender.get_full_name }}'s Email</button>
                        <button class="btn btn-outline-secondary" type="button" onclick="copy_text(this,'{{ message.sending_org.official_email}}')">Copy Email of {{message.sending_org.name}}</button>
                    </div>
                </div>

                <div class="col" style="padding-left:20px">
                    <p> {{ message.content }} </p>
                </div>
            </div>     
        </div>

    <!-- if the user's organization hasn't sent any messages -->
    {% empty %}

        <div class="mx-auto" style="width: 50%;" align="center">
            <h2>You have not received any messages yet</h2>
        </div>

    {% endfor %}

{% endblock %}